<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © 2021, Gary Gocek, http://gary.gocek.org, gary@gocek.org -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
   <appSettings>
    <add key="url0001" value="https://raw.githubusercontent.com/dev-fos/islampodcast/main/al-badr/تفسير-السعدي/last_mp3.html"/>
    <add key="destBase0001" value="شرح-تفسير-السعدي-(تيسير-الكريم-الرحمن-في-تفسير-كلام-المنان).xml"/>    
    <add key="guidPrefix0001" value="شرح تفسير السعدي (تيسير الكريم الرحمن في تفسير كلام المنان) - "/>   
    <add key="channelTitle0001" value="شرح تفسير السعدي | الشيخ د. عبد الرزاق بن عبد المحسن البدر"/>    
    <add key="channelUrl0001" value="https://www.al-badr.net/sub/456"/>
    <add key="channelLogo0001" value="https://d3wo5wojvuv7l.cloudfront.net/t_rss_itunes_square_1400/images.spreaker.com/original/8f275333de429c9ced6128a8dff756e3.jpg"/>   
    <add key="channelDescription0001" value="يقول الشيخ العثيمين  في التعريف بهذا التفسير، في تقديمه له: انه من أحسن التفاسير حيث كان له ميزات كثيرة :- منها: سهولة العبارة ووضوحها. ومنها: تجنب الحشو والتطويل الذي لا فائدة منه. ومنها: تجنب ذكر الخلاف، إلا أن يكون الخلاف قويًّا تدعو الحاجة إلى ذكره. ومنها: السير على منهج السلف في آيات الصفات، فلا تحريف ولا تأويل يخالف مراد الله بكلامه. ومنها: دقة الاستنباط فيما تدل عليه الآيات من الفوائد والأحكام والحكم. ومنها: أنه كتاب تفسير وتربية على الأخلاق الفاضلة.
(لمؤلفه عبد الرحمن بن ناصر السعدي) ."/>
    <add key="itemDescription0001" value="• كتاب : تفسير السعدي (تيسير الكريم الرحمن في تفسير كلام المنان) 

• المؤلف : عبد الرحمن بن ناصر السعدي

• تعليق : الشيخ / د. عبدالرزاق بن عبد المحسن البدر

• للمزيد , تابعنا على قناة التيليجرام :
https://t.me/islampodcast1
"/>
    
   
   
   <add key="mp3Bitrat0001" value="48"/>

<add key="eTitle0374" value="374 تفسير سورة الأنعام: من الآية (١٢٨) ﴿وَيَوْمَ يَحْشُرُهُمْ جَمِيعًا يَا مَعْشَرَ الْجِنِّ قَدِ اسْتَكْثَرْتُمْ مِنَ الإنْسِ...﴾ 23-11-1447" />
<add key="episodesBeginning0001" value="374"/>

   

   

   

   
    <add key="enabled0001" value="true"/>
    <add key="urlPrefix0001" value="="/>
    <!-- <add key="destFolderName0001" value=".\podcasts"/> -->
    <add key="destFolderName0001" value=".\mp3scraper\bin\Release\podcasts"/>
    <!-- http://www.mysite.comn/podcasts/ -->
    <add key="indirect0001" value="false"/>
    <add key="channelAuthor0001" value="إسلام بودكاست"/>
    <add key="channelNotes0001" value=""/>
    <add key="sortDescending0001" value="true"/>
    <add key="retainOrphans0001" value="false"/>
    <add key="stripBaseName0001" value="false"/>
    <add key="refreshDays0001" value="7"/>
    <add key="allowHttps0001" value="false"/>
    <add key="wraparound0001" value="false"/>
    <add key="maxWebRequests0001" value="0"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

</configuration>
