<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © 2021, Gary Gocek, http://gary.gocek.org, gary@gocek.org -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="url0001" value="https://raw.githubusercontent.com/dev-fos/mp3scraper/dev/al-badr/الأدب-المفرد-في-قناة-السنة/last_mp3.txt"/>
    <add key="destBase0001" value="شرح-الأدب-المفرد-(في-قناة-السنة).xml"/>    
    <add key="guidPrefix0001" value="شرح الأدب المفرد (في قناة السنة) - "/>   
    <add key="channelTitle0001" value="شرح الأدب المفرد (في قناة السنة) | الشيخ د. عبد الرزاق بن عبد المحسن البدر"/>    
    <add key="channelUrl0001" value="https://www.al-badr.net/sub/459"/>
    <add key="channelLogo0001" value="https://d3wo5wojvuv7l.cloudfront.net/t_rss_itunes_square_1400/images.spreaker.com/original/8f275333de429c9ced6128a8dff756e3.jpg"/>   
    <add key="channelDescription0001" value="جمع الإمام البخارى فى هذا الكتاب من الآداب الإسلامية والتي لا غنى للمسلم عنها، مثل : بر الوالدين، وصلة الأرحام، وحق
الجار، وكفالة اليتيم، والعفو والصفح، وحسن الخلق، وآداب الزيارة، وعيادة المريض،
والحياء، والاستغفار، والدعاء، وإكرام الضيف، والاستئذان، والوسوسة، والختان،
والأمانة، وغيرها من الآداب الهامة .
وسماه بـ *الأدب المفرد*، ليميزه عن كتاب الأدب الذي هو جزء من جامعه الصحيح،
ولكنه لم يشترط فيه تلك الشروط التي جمع على أساسها الجامع الصحيح، لذلك فإنك تجد
فيه بعض الأسانيد التي في رجالها ضعف ,
(لمؤلفه الإمام البخاري) ."/>
    <add key="itemDescription0001" value="• كتاب : الأدب المفرد

• المؤلف : محمد بن إسماعيل البخاري

• تعليق : الشيخ / د. عبدالرزاق بن عبد المحسن البدر

• للمزيد , تابعنا على قناة التيليجرام :
https://t.me/islampodcast1
"/>
    <add key="mp3Bitrat0001" value="96"/>
    <add key="Title0001" value="true"/>
<add key="eTitle0001" value="001 المقدمة 01-04-1446" />
<add key="eTitle0002" value="002 باب قوله تعالى ﴿ووصينا الإنسان بوالديه حسنا﴾ 02-04-1446" />
<add key="eTitle0003" value="003 من الحديث: رضا الربّ في رضا الوالد 03-04-1446" />
<add key="eTitle0004" value="004 باب بر الأب 04-04-1446" />
<add key="eTitle0005" value="005 باب لين الكلام لوالديه 05-04-1446" />
<add key="eTitle0006" value="006 باب جزاء الوالدين 06-04-1446" />
<add key="eTitle0007" value="007 باب لعن الله من لعن والديه 07-04-1446" />
<add key="eTitle0008" value="008 بابٌ يَبرُّ والديه ما لم يكن معصية 08-04-1446" />
<add key="eTitle0009" value="009 بابٌ يَبرُّ والديه ما لم يكن معصية 09-04-1446" />
<add key="eTitle0010" value="010 باب برّ الوالـد المشـرك 10-04-1446" />
<add key="eTitle0011" value="011 باب برّ الوالـد المشـرك 11-04-1446" />
<add key="eTitle0012" value="012 باب دعوة الوالدين 12-04-1446" />
<add key="eTitle0013" value="013 باب عرض الإسلام على الأمِّ النصرانيّة 13-04-1446" />
<add key="eTitle0014" value="014 باب بر الوالدين بعد وفاتهما 14-04-1446" />
<add key="eTitle0015" value="015 باب لا تقطع مَنْ كان يصل أباك فيُطفأ نورك 15-04-1446" />
<add key="eTitle0016" value="016 باب وجوب صلة الرحم 16-04-1446" />
<add key="eTitle0017" value="017 باب صلة الرحم 17-04-1446" />
<add key="eTitle0018" value="018 باب فضل صلة الرحم 18-04-1446" />
<add key="eTitle0019" value="019 باب من وصل رحمه أحبَّه أهله 19-04-1446" />
<add key="eTitle0020" value="020 باب إثم قاطع الرحم 20-04-1446" />
<add key="eTitle0021" value="021 باب فضل من يصل ذا الرّحم الظالم 21-04-1446" />
<add key="eTitle0022" value="022 باب صلة ذي الرَّحم المشرك والهدية 22-04-1446" />
<add key="eTitle0023" value="023 باب هل يقول المولى: إني من فلان 23-04-1446" />
<add key="eTitle0024" value="024 باب من عالَ جاريتين أو واحدة 24-04-1446" />
<add key="eTitle0025" value="025 باب من عال ابنته المردودة 25-04-1446" />
<add key="eTitle0026" value="026 باب الولد مبخلة مجبنة 26-04-1446" />
<add key="eTitle0027" value="027 باب الولد قرة العين 27-04-1446" />
<add key="eTitle0028" value="028 باب من دعا لصاحبه أن أكثِر ماله وولده 28-04-1446" />
<add key="eTitle0029" value="029 باب قُبلة الصبيان 29-04-1446" />
<add key="eTitle0030" value="030 باب برّ الأب لولده 30-04-1446" />
<add key="eTitle0031" value="031 باب الوصاة بالجار 01-05-1446" />
<add key="eTitle0032" value="032 باب حقّ الجار 02-05-1446" />
<add key="eTitle0033" value="033 باب يبدأ بالجار 03-05-1446" />
<add key="eTitle0034" value="034 باب لا يشبع دون جاره 04-05-1446" />
<add key="eTitle0035" value="035 باب خير الجيران 05-05-1446" />
<add key="eTitle0036" value="036 باب الجار السوء 06-05-1446" />
<add key="eTitle0037" value="037 باب لا يؤذي جاره 07-05-1446" />
<add key="eTitle0038" value="038 باب لا تَحْقِرَنَّ جارة لجارتها ولو فِرْسِن شاة 08-05-1446" />
<add key="eTitle0039" value="039 باب من آذى جاره حتى يَخْرُج 09-05-1446" />
<add key="eTitle0040" value="040 باب من الإحسان إلى البَر والفاجر 10-05-1446" />
<add key="eTitle0041" value="041 باب فضل من يعول يتيماً بين أبويه 11-05-1446" />
<add key="eTitle0042" value="042 باب كن لليتيم كالأب الرحيم 12-05-1446 " />
<add key="eTitle0043" value="043 باب كن لليتيم كالأب الرحيم 13-05-1446 " />
<add key="eTitle0044" value="044 باب فضل من مات له الولد 14-05-1446 " />
<add key="eTitle0045" value="045 باب فضل من مات له الولد 15-05-1446 " />
<add key="eTitle0046" value="046 باب من مات له سِقْط 16-05-1446 " />
<add key="eTitle0047" value="047 باب حسن الملكة 17-05-1446 " />
<add key="eTitle0048" value="048 باب بيع الخادم من الأعراب 18-05-1446 " />
<add key="eTitle0049" value="049 باب العفو عن الخادم 19-05-1446 " />
<add key="eTitle0050" value="050 باب من ختم على خادمه مخافة سوء الظن 20-05-1446 " />
<add key="eTitle0051" value="051 باب لا تقل: قبح الله وجهه 21-05-1446 " />
<add key="eTitle0052" value="052 باب من لطم عبده فليعتقه من غير إيجاب 22-05-1446 " />
<add key="eTitle0053" value="053 باب قصاص العبد 23-05-1446 " />
<add key="eTitle0054" value="054 باب اكسوهم مما تلبسون 24-05-1446" />
<add key="eTitle0055" value="055 باب لا يُكلَّف العبد من العمل ما لا يطيق 25-05-1446 " />
<add key="eTitle0056" value="056 بابٌ نفقة الرجل على عبده وخادمه صدقة 26-05-1446 " />
<add key="eTitle0057" value="057 باب هل يُجلس خادمه معه إذا أكل؟ 27-05-1446 " />
<add key="eTitle0058" value="058 باب إذا نصح العبد لسيده 28-05-1446 " />
<add key="eTitle0059" value="059 باب العبد راع 29-05-1446 " />
<add key="eTitle0060" value="060 باب هل يقول: سيدي؟ 01-06-1446 " />
<add key="eTitle0061" value="061 باب الرجل راعٍ في أهله 02-06-1446 " />
<add key="eTitle0062" value="062 باب من صُنِـعَ إليه معروف فليكافئه 03-06-1446 " />
<add key="eTitle0063" value="063 باب من لم يجد المكافأة فَلْيَدعُ له 04-06-1446 " />
<add key="eTitle0064" value="064 باب أهل المعروف في الدنيا أهل المعروف في الآخرة 05-06-1446 " />
<add key="eTitle0065" value="065 باب أهل المعروف في الدنيا أهل المعروف في الآخرة 06-06-1446 " />
<add key="eTitle0066" value="066 باب إنَّ كل معروفٍ صدقة 07-06-1446 " />
<add key="eTitle0067" value="067 باب إماطة الأذى 08-06-1446 " />
<add key="eTitle0068" value="068 باب الخروج إلى المبقلة وحمل الشيء على عاتقه إلى أهله بالزَّبيل 09-06-1446 " />
<add key="eTitle0069" value="069 باب الخروج إلى المبقلة وحمل الشيء على عاتقه إلى أهله بالزَّبيل 10-06-1446" />
<add key="eTitle0070" value="070 باب المسلم مرآة أخيه 11-06-1446" />
<add key="eTitle0071" value="071 باب ما لا يجوز من اللّعب والمزاح 12-06-1446" />
<add key="eTitle0072" value="072 باب الدّال على الخير 13-06-1446" />
<add key="eTitle0073" value="073 باب العفو والصفح عن الناس 14-06-1446" />
<add key="eTitle0074" value=" 074 باب الانبساط إلى الناس 15-06-1446" />
<add key="eTitle0075" value="075 باب الانبساط إلى الناس 16-06-1446" />
<add key="eTitle0076" value="076 باب الضّحك 17-06-1446" />
<add key="eTitle0077" value="077 باب المستشار مؤتمن 18-06-1446" />
<add key="eTitle0078" value="078 باب المشورة 19-06-1446" />
<add key="eTitle0079" value="079 باب التحاب بين الناس 20-06-1446" />
<add key="eTitle0080" value="080 باب الألفـة 21-06-1446" />
<add key="eTitle0081" value="081 باب المزاح 22-06-1446 " />
<add key="eTitle0082" value="082 باب حُسـن الخُلُـق 23-06-1446 " />
<add key="eTitle0083" value="083 باب حُسـن الخُلُـق 24-06-1446 " />
<add key="eTitle0084" value="084 باب سخـاوة النّفـس 25-06-1446 " />
<add key="eTitle0085" value="085 باب سخـاوة النّفـس 26-06-1446 " />
<add key="eTitle0086" value="086 باب حسن الخلق إذا فَقِهُوا 27-06-1446 " />
<add key="eTitle0087" value="087 باب حسن الخلق إذا فَقِهُوا 28-06-1446 " />
<add key="eTitle0088" value="088 باب حسن الخلق إذا فَقِهُوا 29-06-1446 " />
<add key="eTitle0089" value="089 باب حسن الخلق إذا فَقِهُوا 30-06-1446 " />
<add key="eTitle0090" value="090 باب البُّخـل 01-07-1446 " />
<add key="eTitle0091" value="091 باب المال الصالح للمرء الصالح 02-07-1446 " />
<add key="eTitle0092" value="092 باب طيب النفس 03-07-1446 " />
<add key="eTitle0093" value="093 باب طيب النفس 04-07-1446 " />
<add key="eTitle0094" value="094 باب ما يجب من عون الملهوف 05-07-1446 " />
<add key="eTitle0095" value="095 باب من دعا الله أن يُحَسِّن خُلُقه 06-07-1446" />
<add key="eTitle0096" value="096 باب ليس المؤمن بالطّعّان 07-07-1446" />
<add key="eTitle0097" value="097 باب ليس المؤمن بالطّعّان 08-07-1446" />
<add key="eTitle0098" value="098 باب التلاعن بلعنة الله وبغضب الله وبالنار 09-07-1446" />
<add key="eTitle0099" value="099 باب النَّـمَّـام 10-07-1446" />
<add key="eTitle0100" value="100 باب العيّاب 11-07-1446" />
<add key="eTitle0101" value="101 باب العيّاب 12-07-1446" />
<add key="eTitle0102" value="102 باب ما جاء في التَّمادح 13-07-1446" />
<add key="eTitle0103" value="103 باب يُحثى في وجوه 14-07-1446" />
<add key="eTitle0104" value="104 باب مَنْ مدح في الشعر 15-07-1446" />
<add key="eTitle0105" value="105 باب الزيارة 16-07-1446" />
<add key="eTitle0106" value="106 باب مَنْ زار قوماً فَطَعِمَ عندهم 17-07-1446" />
<add key="eTitle0107" value="107 باب الرجل يحب قوماً ولمَّا يلحق بهم 18-07-1446" />
<add key="eTitle0108" value="108 باب إجـلال الكبيـــر 19-07-1446" />
<add key="eTitle0109" value="109 باب يبدأ الكبير بالكلام والسؤال 20-07-1446" />
<add key="eTitle0110" value="110 باب إذا لم يتكلم الكبير هل للأصغر أن يتكلم؟ 21-07-1446" />
<add key="eTitle0111" value="111 باب تسويد الأكابر 22-07-1446" />
<add key="eTitle0112" value="112 باب يُعطى الثمرة أصغر مَنْ حضر مِن الولدان 23-07-1446" />
<add key="eTitle0113" value="113 باب مُعانقـة الصّبـي 24-07-1446" />
<add key="eTitle0114" value="114  باب قبلة الرجل الجارية الصغيرة 25-07-1446" />
<add key="eTitle0115" value="115 باب قول الرجل للصغير: يا بُنَيّ 26-07-1446" />
<add key="eTitle0116" value="116 بابٌ ارحم من في الأرض 27-07-1446" />
<add key="eTitle0117" value="117 بابٌ رحمة العـيـال 28-07-1446" />
<add key="eTitle0118" value="118 باب رحمـة البهائم 29-07-1446" />
<add key="eTitle0119" value="119 باب أخذ البيض من الحُمَّرَة 30-07-1446" />
<add key="eTitle0120" value="120 باب لا يَصْلُحُ الكذب 01-08-1446" />
<add key="eTitle0121" value="121 باب الصبر على الأذى 02-08-1446" />
<add key="eTitle0122" value="122 باب الصبر على الأذى 03-08-1446" />
<add key="eTitle0123" value="123 باب إصلاح ذات البين 04-08-1446" />
<add key="eTitle0124" value="124 باب حب الرجل قومه 05-08-1446" />
<add key="eTitle0125" value="125 باب هجـرة المسلم 06-08-1446" />
<add key="eTitle0126" value="126 باب هجـرة المسلم 07-08-1446" />
<add key="eTitle0127" value="127 باب مَنْ هَجَر أخاه سنة 08-08-1446" />
<add key="eTitle0128" value="128 باب الشحناء 09-08-1446" />
<add key="eTitle0129" value="129 باب الشحناء 10-08-1446" />
<add key="eTitle0130" value="130 باب التفرقة بين الأحداث 11-08-1446" />
<add key="eTitle0131" value="131 باب السِّبـاب 12-08-1446" />
<add key="eTitle0132" value="132 باب سَقْي المــاء 13-08-1446" />
<add key="eTitle0133" value="133 باب المسْتبَّان شيطانان يتهاتران ويتكاذبان 14-08-1446" />
<add key="eTitle0134" value="134 باب سباب المسلم فسوق 15-08-1446" />
<add key="eTitle0135" value="135 باب سباب المسلم فسوق 16-08-1446" />
<add key="eTitle0136" value="136 من قال لآخر: يا منافق! في تأويل تأوّلَه 17-08-1446" />
<add key="eTitle0137" value="137 باب من قال لأخيه: يا كافر 18-08-1446" />
<add key="eTitle0138" value="138 باب السرف في المال 19-08-1446" />
<add key="eTitle0139" value="139 باب السرف في المال 20-08-1446" />
<add key="eTitle0140" value="140 باب السرف في المال 21-08-1446" />
<add key="eTitle0141" value="141 باب النَّفَـقـة في البِـنَـاء 22-08-1446" />
<add key="eTitle0142" value="142 باب مَـنْ بَـنَى 23-08-1446" />
<add key="eTitle0143" value="143 باب مَنْ اتَّخذ الغرف 24-08-1446" />
<add key="eTitle0144" value="144 باب نـقـش البنيان 25-08-1446" />
<add key="eTitle0145" value="145 باب الـرفــق 26-08-1446" />
<add key="eTitle0146" value="146 باب الـرفــق 27-08-1446" />
<add key="eTitle0147" value="147 باب التسكين 28-08-1446" />
<add key="eTitle0148" value="148 باب اصطناع المال 29-08-1446" />
<add key="eTitle0149" value="149 باب الظلم ظلمات 01-10-1446" />
<add key="eTitle0150" value="150 باب الظلم ظلمات 02-10-1446" />
<add key="eTitle0151" value="151 باب الظلم ظلمات 03-10-1446" />
<add key="eTitle0152" value="152 باب كفارة المريض 04-10-1446" />
<add key="eTitle0153" value="153 باب كفارة المريض 05-10-1446" />
<add key="eTitle0154" value="154 باب العيادة جوف الليل 06-10-1446" />
<add key="eTitle0155" value="155 باب يُكتب للمريض ما كان يعمل وهو صحيح 07-10-1446" />
<add key="eTitle0156" value="156 باب يكتب للمريض ما كان يعمل وهو صحيح 08-10-1446" />
<add key="eTitle0157" value="157 باب يكتب للمريض ما كان يعمل وهو صحيح 09-10-1446" />
<add key="eTitle0158" value="158 باب عيادة المغمى عليه 10-10-1446" />
<add key="eTitle0159" value="159 باب 11-10-1446" />
<add key="eTitle0160" value="160 باب عيادة المرضى 12-10-1446" />
<add key="eTitle0161" value="161 باب عيادة المرضى 13-10-1446" />
<add key="eTitle0162" value="162 باب من صلى عند المريض 14-10-1446" />
<add key="eTitle0163" value="163 باب ما يقول للمريض 15-10-1446" />
<add key="eTitle0164" value="164 باب العيادة من الرَّمَـد 16-10-1446" />
<add key="eTitle0165" value="165 باب أين يقعـد العائـد؟ 17-10-1446" />
<add key="eTitle0166" value="166 باب ما يعمل الرجل في بيته 18-10-1446" />
<add key="eTitle0167" value="167 باب إذا أحبَّ رجلاً فلا يماره ولا يسألْ عنه 19-10-1446" />
<add key="eTitle0168" value="168 باب الكبـر 20-10-1446" />
<add key="eTitle0169" value="169 باب الكبـر 21-10-1446" />
<add key="eTitle0170" value="170 باب الكبـر 22-10-1446" />
<add key="eTitle0171" value="171 باب الكبـر 23-10-1446" />
<add key="eTitle0172" value="172 باب مَنْ انْتَصَرَ من ظُلْمِه 24-10-1446" />
<add key="eTitle0173" value="173 باب المواساة في السَّنةِ والمجاعة 25-10-1446" />
<add key="eTitle0174" value="174 باب التَّجَارِبِ 26-10-1446" />
<add key="eTitle0175" value="175 باب حِلْفِ الجاهلية 27-10-1446" />
<add key="eTitle0176" value="176 باب من استَمطَر في أول المطر 28-10-1446" />
<add key="eTitle0177" value="177 باب الإبـل عِـزٌّ لأهـلـهـا 29-10-1446" />
<add key="eTitle0178" value="178 باب الأعـرابيَّـة 30-10-1446" />
<add key="eTitle0179" value="179 باب البُـدُوِّ إلى التِّـلاع 01-11-1446" />
<add key="eTitle0180" value="180 باب التـؤدة في الأمـور 02-11-1446" />
<add key="eTitle0181" value="181 باب التـؤدة في الأمـور 03-11-1446" />
<add key="eTitle0182" value="182 باب البغي 04-11-1446" />
<add key="eTitle0183" value="183 باب البغي 05-11-1446" />
<add key="eTitle0184" value="184 باب قـبـول الهـديـة 06-11-1446" />
<add key="eTitle0185" value="185 باب الـحـيــاء 07-11-1446" />
<add key="eTitle0186" value="186 باب الـحـيــاء 08-11-1446" />
<add key="eTitle0187" value="187 باب الـحـيــاء 09-11-1446" />
<add key="eTitle0188" value="188 باب مـا يـقـول إذا أصـبـح 10-11-1446" />
<add key="eTitle0189" value="189 باب مَنْ دعـا في غيره من الدعـاء 11-11-1446" />
<add key="eTitle0190" value="190 باب النَّاخلة من الدعاء 12-11-1446" />
<add key="eTitle0191" value="191 باب لِيَـعْـزِم الدعـاء فـإن الله لا مُـكْـرِهَ له 13-11-1446" />
<add key="eTitle0192" value="192 باب رفع الأيـدي في الـدعـاء 14-11-1446" />
<add key="eTitle0193" value="193 باب رفع الأيـدي في الـدعـاء 15-11-1446" />
<add key="eTitle0194" value="194 باب سيد الاستغفار 16-11-1446" />
<add key="eTitle0195" value="195 باب سيد الاستغفار 17-11-1446" />
<add key="eTitle0196" value="196 باب سيد الاستغفار 18-11-1446" />
<add key="eTitle0197" value="197 باب دعاء الأخ بظهر الغيب 19-11-1446" />
<add key="eTitle0198" value="198 باب 20-11-1446" />
<add key="eTitle0199" value="199 باب 21-11-1446" />
<add key="eTitle0200" value="200 باب 22-11-1446" />
<add key="eTitle0201" value="201 باب 23-11-1446" />
<add key="eTitle0202" value="202 باب الصلاة على النبي ﷺ 24-11-1446" />
<add key="eTitle0203" value="203 باب الصلاة على النبي ﷺ 25-11-1446" />
<add key="eTitle0204" value="204 باب الصلاة على النبي ﷺ 26-11-1446" />
<add key="eTitle0205" value="205 باب دعاء الرجل علَى من ظلمه 27-11-1446" />
<add key="eTitle0206" value="206 باب من دعا بطول العمر 28-11-1446" />
<add key="eTitle0207" value="207 باب من تعوذ بالله من الكسل 29-11-1446" />
<add key="eTitle0208" value="208 باب دعوات النبي ﷺ 14-03-1447" />
<add key="eTitle0209" value="209 باب دعوات النبي ﷺ 15-03-1447" />
<add key="eTitle0210" value="210 باب دعوات النبي ﷺ 16-03-1447" />
<add key="eTitle0211" value="211 باب دعوات النبي ﷺ 17-03-1447" />
<add key="eTitle0212" value="212 باب دعوات النبي ﷺ 18-03-1447" />
<add key="eTitle0213" value="213 باب دعوات النبي ﷺ 19-03-1447" />
<add key="eTitle0214" value="214 باب دعوات النبي ﷺ 20-03-1447" />
<add key="eTitle0215" value="215 باب دعوات النبي ﷺ 21-03-1447" />
<add key="eTitle0216" value="216 باب دعوات النبي ﷺ 22-03-1447" />
<add key="eTitle0217" value="217 باب دعوات النبي ﷺ 23-03-1447" />
<add key="eTitle0218" value="218 باب دعوات النبي ﷺ 24-03-1447" />
<add key="eTitle0219" value="219 باب الدعاء عند الموت 25-03-1447" />
<add key="eTitle0220" value="220 باب دعوات النبي ﷺ 26-03-1447" />
<add key="eTitle0221" value="221 باب دعوات النبي ﷺ 27-03-1447" />
<add key="eTitle0222" value="222 باب دعوات النبي ﷺ 28-03-1447" />
<add key="eTitle0223" value="223 باب دعوات النبي ﷺ 29-03-1447" />
<add key="eTitle0224" value="224 باب دعوات النبي ﷺ 30-03-1447" />
<add key="eTitle0225" value="225 باب دعوات النبي ﷺ 01-04-1447" />
<add key="eTitle0226" value="226 باب دعوات النبي ﷺ 02-04-1447" />
<add key="eTitle0227" value="227 باب الدعاء عند الكرب 03-04-1447" />
<add key="eTitle0228" value="228 باب الدعاء عند الكرب 04-04-1447" />
<add key="eTitle0229" value="229 باب الدعاء عند الاستخارة 05-04-1447" />
<add key="eTitle0230" value="230 باب الدعاء عند الاستخارة 06-04-1447" />
<add key="eTitle0231" value="231 باب الدعاء عند الاستخارة 07-04-1447" />
<add key="eTitle0232" value="232 باب إذا خاف السلطان 08-04-1447" />
<add key="eTitle0233" value="233 باب فضل الدعاء 09-04-1447" />
<add key="eTitle0234" value="234 باب فضل الدعاء 10-04-1447" />
<add key="eTitle0235" value="235 باب الدعاء عند الريح 11-04-1447" />
<add key="eTitle0236" value="236 باب إذا سمع الرعد 12-04-1447" />
<add key="eTitle0237" value="237 باب من سأل الله العافية 13-04-1447" />
<add key="eTitle0238" value="238 باب من تعوذ من جهد البلاء 14-04-1447" />
<add key="eTitle0239" value="239 باب 15-04-1447" />
<add key="eTitle0240" value="240 باب الغيبة، وقول الله تعالى: ﴿وَلا يَغْتَبْ بَعْضُكُمْ بَعْضًا﴾ 16-04-1447" />
<add key="eTitle0241" value="241 باب دالة أهل الإسلام بعضهم على بعض 17-04-1447" />
<add key="eTitle0242" value="242 باب إكرام الضيف وخدمته إياه بنفسه 18-04-1447" />
<add key="eTitle0243" value="243 باب جائزة الضيف 19-04-1447" />
<add key="eTitle0244" value="244 باب إذا أصبح بفنائه 20-04-1447" />
<add key="eTitle0245" value="245 باب من قدمَ إلى ضيفه طعاما فقام يصلي 21-04-1447" />
<add key="eTitle0246" value="246 باب نفقة الرجل على أهله 22-04-1447" />
<add key="eTitle0247" value="247 باب الـدعاء إذا بقيَ ثلث الليل 23-04-1447" />
<add key="eTitle0248" value="248 باب قول الرجل: فلان جعد أسود أو طويل قصير يريد الصفة ولا يريد الغيبة 24-04-1447" />
<add key="eTitle0249" value="249 باب قول الرجل: فلان جعد أسود أو طويل قصير يريد الصفة ولا يريد الغيبة 25-04-1447" />
<add key="eTitle0250" value="250 باب قول الرجل: هلك الناس 26-04-1447" />
<add key="eTitle0251" value="251 باب ما يقول الرجل إذا زكي 27-04-1447" />
<add key="eTitle0252" value="252 باب قوس قزح 28-04-1447" />
<add key="eTitle0253" value="253 باب لا تسبوا الدهر 29-04-1447" />
<add key="eTitle0254" value="254 باب قول الرجل للرجل: ويلك 30-04-1447" />
<add key="eTitle0255" value="255 باب قول الرجل للرجل: ويلك 01-05-1447" />
<add key="eTitle0256" value="256 باب البناء 02-05-1447" />
<add key="eTitle0257" value="257 باب إذا طلب فليطلب طلبا يسيرا ولا يمدحه 03-05-1447" />
<add key="eTitle0258" value="258 باب قول الرجل: ما شاء الله وشئت 04-05-1447" />
<add key="eTitle0259" value="259 باب الهدي والسمت الحسن 05-05-1447" />
<add key="eTitle0260" value="260 باب ويأتيك بالأخبار من لم تزود 06-05-1447" />
<add key="eTitle0261" value="261 باب قول الرجل: يا هنتاه 07-05-1447" />
<add key="eTitle0262" value="262 باب قول الرجل: إني كسلان 08-05-1447" />
<add key="eTitle0263" value="263 باب قول الرجل: نفسي لك الفداء 09-05-1447" />
<add key="eTitle0264" value="264 باب قول الرجل: فداك أبي وأُمي 10-05-1447" />
<add key="eTitle0265" value='265 باب قول الرجل: "يا بني" لمن أبوه لم يدرك الإسلام 11-05-1447' />
<add key="eTitle0266" value="266 باب كنية أبي الحكم 12-05-1447" />
<add key="eTitle0267" value="267 باب كان النبي ﷺ يعجبه الاسم الحسن 13-05-1447" />
<add key="eTitle0268" value="268 باب السرعة في المشي 14-05-1447" />
<add key="eTitle0269" value="269 باب تحويل الاسم إلى الاسم 15-05-1447" />
<add key="eTitle0270" value="270 باب من دعا آخر بتصغير اسمه 16-05-1447" />
<add key="eTitle0271" value="271 باب يدعى الرجل بأحب الأسماء إليه 17-05-1447" />
<add key="eTitle0272" value="272 باب الــصـرم 18-05-1447" />
<add key="eTitle0273" value="273 باب العاص 19-05-1447" />
<add key="eTitle0274" value="274 باب زحـم 20-05-1447" />
<add key="eTitle0275" value="275 باب أفلح 21-05-1447" />
<add key="eTitle0276" value="276 باب أسماء الأنبياء 22-05-1447" />
<add key="eTitle0277" value="277 باب اسم النبي ﷺ وكنيته 23-05-1447" />
<add key="eTitle0278" value="278 باب الكنية للصبي 24-05-1447" />
<add key="eTitle0279" value="279 باب كنية النساء 25-05-1447" />
<add key="eTitle0280" value="280 باب 26-05-1447" />
<add key="eTitle0281" value="281 باب من الشعر حكمة 27-05-1447" />
<add key="eTitle0282" value="282 باب من الشعر حكمة 28-05-1447" />
<add key="eTitle0283" value="283 باب من استنشد الشعر 29-05-1447" />
<add key="eTitle0284" value="284 باب من قال: إن من البيان سحرا 30-05-1447" />
<add key="eTitle0285" value="285 باب كثـرة الكلام 01-06-1447" />
<add key="eTitle0286" value="286 باب التمني 02-06-1447" />
<add key="eTitle0287" value="287 باب الضرب على اللحن 03-06-1447" />
<add key="eTitle0288" value="288 باب المعاريض 04-06-1447" />
<add key="eTitle0289" value="289 باب السخرية 05-06-1447" />
<add key="eTitle0290" value=" 290 باب من هدى زقاقا أو طريقا 06-06-1447" />
<add key="eTitle0291" value="291 باب عقوبة البغي 07-06-1447" />
<add key="eTitle0292" value="292 باب الأرواح جنود مجندة 08-06-1447" />
<add key="eTitle0293" value="293 باب قول الرّجل عند التعجب: سبحان الله 09-06-1447" />
<add key="eTitle0294" value="294 باب مسح الأرض باليد 10-06-1447" />
<add key="eTitle0295" value="295 باب لا تسبوا الريح 11-06-1447" />
<add key="eTitle0296" value="296 باب ما يقول الرجل إذا رأى غيما 12-06-1447" />
<add key="eTitle0297" value="297 باب الطيرة 13-06-1447" />
<add key="eTitle0298" value="298 باب الطيرة من الجن 14-06-1447" />
<add key="eTitle0299" value="299 باب التبرك بالاسم الحسن 15-06-1447" />
<add key="eTitle0300" value="300 باب العطاس 16-06-1447" />
<add key="eTitle0301" value="301 باب تشميت العاطس 17-06-1447" />
<add key="eTitle0302" value="302 باب تشميت العاطس 18-06-1447" />
<add key="eTitle0303" value="303 باب كيف يبدأ العاطس 19-06-1447" />
<add key="eTitle0304" value="304 باب إذا عطس اليهودي 20-06-1447" />
<add key="eTitle0305" value="305 باب التثاؤب 21-06-1447" />
<add key="eTitle0306" value="306 باب قيام الرجل لأخيه 22-06-1447" />
<add key="eTitle0307" value="307 باب قيام الرجل لأخيه 23-06-1447" />
<add key="eTitle0308" value="308 باب إذا تثاءب فليضع يده على فيه 24-06-1447" />
<add key="eTitle0309" value="309 باب هل يفلي أَحد رأس غيره؟ 25-06-1447" />
<add key="eTitle0310" value="310 باب هل يفلي أَحد رأس غيره؟ 26-06-1447" />
<add key="eTitle0311" value="311 باب تحريك الرأس وعض الشفتين عند التعجب 27-06-1447" />
<add key="eTitle0312" value="312 باب تضرب الرجل يده على فخذه عند التعجب أو الشيء 28-06-1447" />
<add key="eTitle0313" value="313 باب إذا ضرب الرجل فخذ أخيه ولم يرد به سوءا 29-06-1447" />
<add key="eTitle0314" value="314 باب إذا ضرب الرجل فخذ أخيه ولم يرد به سوءا 01-07-1447" />
<add key="eTitle0315" value="315 باب إذا ضرب الرجل فخذ أخيه ولم يرد به سوءا 02-07-1447" />
<add key="eTitle0316" value="316 باب 03-07-1447" />
<add key="eTitle0317" value="317 باب 04-07-1447" />
<add key="eTitle0318" value="318 باب 05-07-1447" />
<add key="eTitle0319" value="319 باب المصافحة 06-07-1447" />
<add key="eTitle0320" value="320 باب المعانقة 07-07-1447" />
<add key="eTitle0321" value="321 باب الرجل يقبل ابنته 08-07-1447" />
<add key="eTitle0322" value="322 باب تقبيل اليد 09-07-1447" />
<add key="eTitle0323" value="323 باب إفشاء السلام 10-07-1447" />
<add key="eTitle0324" value="324 باب إفشاء السلام 11-07-1447" />
<add key="eTitle0325" value="325 باب من بدأ بالسلام 12-07-1447" />
<add key="eTitle0326" value="326 باب السلام اسم من أسماء الله 13-07-1447" />
<add key="eTitle0327" value="327 باب حق المسلم على المسلم أن يسلّم عليه إذا لقيه 14-07-1447" />
<add key="eTitle0328" value="328 باب تسليم الراكب على القاعد 15-07-1447" />
<add key="eTitle0329" value="329 باب منتهى السلام 16-07-1447" />
<add key="eTitle0330" value="330 باب من سلّم إشارة 17-07-1447" />
<add key="eTitle0331" value="331 باب التسليم إذا جاء المجلس 18-07-1447" />
<add key="eTitle0332" value="332 باب من دهن يده للمصافحة 19-07-1447" />
<add key="eTitle0333" value="333 باب 20-07-1447" />
<add key="eTitle0334" value="334 باب من ترك السلام على المتخلّق وأصحاب المعاصي 21-07-1447" />
<add key="eTitle0335" value="335 باب التسليم على الأمير 22-07-1447" />
<add key="eTitle0336" value="336 باب التسليم على الأمير 23-07-1447" />
<add key="eTitle0337" value="337 باب حياك الله 24-07-1447" />
<add key="eTitle0338" value="338 باب كيف رد السلام؟ 25-07-1447" />
<add key="eTitle0339" value="339 باب من بخـل بـالسلام 26-07-1447" />
<add key="eTitle0340" value="340 باب تسليم النساء على الرجال 27-07-1447" />
<add key="eTitle0341" value="341 باب من كره تسليم الخاصة 28-07-1447" />
<add key="eTitle0342" value="342 باب كيف نزلت آية الحجاب؟ 29-07-1447" />
<add key="eTitle0343" value="343 باب أكل الرجل مع امرأته 30-07-1447" />
<add key="eTitle0344" value="344 باب ﴿لِيَسْتَأْذِنْكُمُ الَّذِينَ مَلَكَتْ أَيْمَانُكُمْ﴾ 01-08-1447" />
<add key="eTitle0345" value="345 باب يستأذن على أخيه 02-08-1447" />
<add key="eTitle0346" value="346 باب إذا نظر بغير إذن تفقأ عينه 03-08-1447" />
<add key="eTitle0347" value="347 باب إذا سلم الرجل على الرجل في بيته 04-08-1447" />
<add key="eTitle0348" value="348 باب دعاء الرجل إذنه 05-08-1447" />
<add key="eTitle0349" value="349 باب قرع الباب 06-08-1447" />
<add key="eTitle0350" value="350 باب كيف الاستئذان؟ 07-08-1447" />
<add key="eTitle0351" value="351 باب النظر في الدور 08-08-1447" />
<add key="eTitle0352" value="352 باب فضل من دخل بيته بسلام 09-08-1447" />
<add key="eTitle0353" value="353 باب ما لا يستأذن فيه 10-08-1447" />
<add key="eTitle0354" value="354 باب إذا كتب الذمي فسلّم، يرد عليه 11-08-1447" />
<add key="eTitle0355" value="355 باب كيف الرد على أهل الذمة؟ 12-08-1447" />
<add key="eTitle0356" value="356 باب كيف يكتب إلى أهل الكتاب؟ 13-08-1447" />
<add key="eTitle0357" value="357 باب كيف يكتب إلى أهل الكتاب؟ 14-08-1447" />
<add key="eTitle0358" value="358 باب إذا قال أهل الكتاب: السام عليكم 15-08-1447" />
<add key="eTitle0359" value="359 باب كيف يدعو للذمي؟ 16-08-1447" />
<add key="eTitle0360" value="360 باب الكتابة إلى النساء وجوابهن 17-08-1447" />
<add key="eTitle0361" value="361 باب أما بعد 18-08-1447" />
<add key="eTitle0362" value="362 باب بمن يبدأ في الكتاب؟ 19-08-1447" />
<add key="eTitle0363" value="363 باب كيف أصبحت؟ 20-08-1447" />
<add key="eTitle0364" value="364 باب كيف أنت؟ 21-08-1447" />
<add key="eTitle0365" value="365 باب خير المجالس أوسعها 22-08-1447" />
<add key="eTitle0366" value="366 باب الجلوس على الطريق 23-08-1447" />
<add key="eTitle0367" value="367 باب يتخطى إلى صاحب المجلس 24-08-1447" />
<add key="eTitle0368" value="368 باب يتخطى إلى صاحب المجلس 25-08-1447" />
<add key="eTitle0369" value="369 باب هل يقدم الرجل رجله بين يدي جليسه؟ 26-08-1447" />
<add key="eTitle0370" value="370 باب مجالس الصعدات 27-08-1447" />
<add key="eTitle0371" value="371 باب من أدلى رجليه إلى البئر إذا جلس وكشف عن الساقين 28-08-1447" />
<add key="eTitle0372" value="372 باب من أدلى رجليه إلى البئر إذا جلس وكشف عن الساقين 29-08-1447" />
<add key="eTitle0373" value="373 باب إذا قام له رجل من مجلسه لم يقعد فيه 01-10-1447" />
<add key="eTitle0374" value="374 باب إذا أرسل رجلا في حاجة فلا يخبره 02-10-1447" />
<add key="eTitle0375" value="375 باب الجلوس على السرير 03-10-1447" />
<add key="eTitle0376" value="376 باب الجلوس على السرير 04-10-1447" />
<add key="eTitle0377" value="377 باب لا يتناجى اثنان دون الثالث 05-10-1447" />
<add key="eTitle0378" value="378 باب الاحتباء في الثوب 06-10-1447" />
<add key="eTitle0379" value="379 باب القرفصاء 07-10-1447" />
<add key="eTitle0380" value="380 باب الاحتباء 08-10-1447" />
<add key="eTitle0381" value="381 باب الاستلقاء 09-10-1447" />
<add key="eTitle0382" value="382 باب الشيطان يجيء بالعود والشيء يطرحه على الفراش 10-10-1447" />
<add key="eTitle0383" value="383 باب ما يقول إذا خرج لحاجته 11-10-1447" />
<add key="eTitle0384" value="384 باب هل يقدم الرجل رجله بين أيدي أصحابه، وهل يتكئ بين أيديهم؟ 12-10-1447" />
<add key="eTitle0385" value="385 باب ما يقول إذا أصبح 13-10-1447" />
<add key="eTitle0386" value="386 باب ما يقول إذا أصبح 14-10-1447" />
<add key="eTitle0387" value="387 باب ما يقول إذا أوى إلى فراشه 15-10-1447" />
<add key="eTitle0388" value="388 باب ما يقول إذا أوى إلى فراشه 16-10-1447" />
<add key="eTitle0389" value="389 باب ما يقول إذا أوى إلى فراشه 17-10-1447" />
<add key="eTitle0390" value="390 باب فضل الدعاء عند النوم 18-10-1447" />
<add key="eTitle0391" value="391 باب فضل الدعاء عند النوم 19-10-1447" />
<add key="eTitle0392" value="392 باب إذا قام من فراشه ثم رجع فلينفضه 20-10-1447" />
<add key="eTitle0393" value="393 باب من نام وبيده غمر 21-10-1447" />
<add key="eTitle0394" value="394 باب إطفاء المصباح 22-10-1447" />
<add key="eTitle0395" value="395 باب التيمن بالمطر 23-10-1447" />
<add key="eTitle0396" value="396 باب ضم الصبيان عند فورة العشاء 24-10-1447" />
<add key="eTitle0397" value="397 باب نباح الكلب ونهيق الحمار 25-10-1447" />
<add key="eTitle0398" value="398 باب القائلة 26-10-1447" />
<add key="eTitle0399" value="399 باب المأدبة 27-10-1447" />
<add key="eTitle0400" value="400 باب خفض المرأة 28-10-1447" />
<add key="eTitle0401" value="401 باب ختان الإماء 29-10-1447" />
<add key="eTitle0402" value="402 باب تحنيك الصبي 01-11-1447" />
<add key="eTitle0403" value="403 باب حلق العانة 02-11-1447" />
<add key="eTitle0404" value="404 باب قمار الديك 03-11-1447" />
<add key="eTitle0405" value="405 باب من لم يسلم على أصحاب النرد 04-11-1447" />
<add key="eTitle0406" value="406 باب الأدب وإخراج الذين يلعبون بالنرد وأهل الباطل 05-11-1447" />
<add key="eTitle0407" value="407 باب من رمى بالليل 06-11-1447" />
<add key="eTitle0408" value="408 باب الوسوسة 07-11-1447" />
<add key="eTitle0409" value="409 باب الوسوسة 08-11-1447" />
<add key="eTitle0410" value="410 باب الظن 09-11-1447" />
<add key="eTitle0411" value="411 باب حلق الجارية والمرأة زوجها 10-11-1447" />
<add key="eTitle0412" value="412 باب حسن العهد 11-11-1447" />
<add key="eTitle0413" value="413 باب لعب الصبيان بالجوز 12-11-1447" />
<add key="eTitle0414" value="414 باب إذا تنخع وهو مع القوم 13-11-1447" />
<add key="eTitle0415" value="415 باب ذي الوجهين 14-11-1447" />
<add key="eTitle0416" value="416 باب الحياء 15-11-1447" />
<add key="eTitle0417" value="417 باب الغضب 16-11-1447" />
<add key="episodesBeginning0001" value="1"/>
<add key="enabled0001" value="true"/>
    <add key="urlPrefix0001" value="="/>
    <add key="destFolderName0001" value=".\podcasts"/>
    <!-- <add key="destFolderName0001" value=".\mp3scraper\bin\Release\podcasts"/> -->
    <!-- http://www.mysite.comn/podcasts/ -->
    <add key="indirect0001" value="false"/>
    <add key="channelAuthor0001" value="إسلام بودكاست"/>
    <add key="channelNotes0001" value=""/>
    <add key="sortDescending0001" value="true"/>
    <add key="retainOrphans0001" value="false"/>
    <add key="stripBaseName0001" value="false"/>
    <add key="refreshDays0001" value="7"/>
    <add key="allowHttps0001" value="false"/>
    <add key="wraparound0001" value="false"/>
    <add key="maxWebRequests0001" value="0"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

</configuration>
